//this file contains the Persian strings for the eKelaas Virtual Class System.

//login and register stuff goes here
- var STR_displayName = "نام کاربری"
- var STR_email = "ایمیل"
- var STR_phoneNumber = "موبایل"
- var STR_password = "رمز عبور"
- var STR_registerHeader = "لطفا از این فرم برای ثبت نام در سرویس استفاده کنید."
- var STR_registerButton = "ثبت نام"
- var STR_loginString = "نام کاربری، ایمیل یا موبایل"
- var STR_loginHeader = "برای ورود به سرویس از این فرم استفاده کنید."
- var STR_loginButton = "ورود"

//user info stuff goes here
- var STR_firstName = "نام"
- var STR_lastName = "نام کاربری"
- var STR_dateOfBirth = "تاریخ تولد"
- var STR_referral = "معرف"
- var STR_infoHeader = "از این فرم برای وارد کردن اطلاعات کاربری استفاده کنید."










//general stuff goes here
- var STR_sendInfo = "ارسال اطلاعات"




