//this file contains the Persian strings for the eKelaas Virtual Class System.

//login and register stuff goes here
- var STR_displayName = "نام کاربری"
- var STR_email = "ایمیل"
- var STR_phoneNumber = "موبایل"
- var STR_password = "رمز عبور"
- var STR_registerHeader = "لطفا از این فرم برای ثبت نام در سرویس استفاده کنید."
- var STR_registerButton = "ثبت نام"
- var STR_loginString = "نام کاربری، ایمیل یا موبایل"
- var STR_loginHeader = "برای ورود به سرویس از این فرم استفاده کنید."
- var STR_loginButton = "ورود"
- var STR_confirmPassword = "تایید رمز عبور"

//user info stuff goes here
- var STR_firstName = "نام"
- var STR_lastName = "نام خوانوادگی"
- var STR_dateOfBirth = "تاریخ تولد"
- var STR_referral = "معرف"
- var STR_infoHeader = "از این فرم برای وارد کردن اطلاعات کاربری استفاده کنید."

//student stuff goes here
- var STR_grade = "مقطع"
- var STR_province = "استان"
- var STR_city = "شهر"
- var STR_school = "مدرسه"
- var STR_studentHeader = "ازین فرم برای وارد کردن اطلاعات دانش‌آموزی استفاده کنید."
- var STR_editStudentHeader = "ازین فرم برای ویرایش کردن اطلاعات دانش‌آموزی استفاده کنید."

//teacher stuff goes here
- var STR_teacherHeader = "ازین فرم برای وارد کردن اطلاعات معلمی استفاده نمایید."
- var STR_editTeacherHeader = "ازین فرم برای ویرایش کردن اطلاعات معلمی استفاده نمایید."
- var STR_credits = "سوابق معلم"
- var STR_degrees = "مدارک معلم"

//course stuff goes here
- var STR_courseHeader = "برای ایجاد یک دوره ازین فرم استفاده کنید."
- var STR_courseEditHeader = "برای ویرایش یک دوره ازین فرم استفاده کنید."
- var STR_subject = "موضوع دوره"
- var STR_description = "توضیحات دوره"
- var STR_price = "قیمت دوره"
- var STR_courseClassHeader = "برای ایجاد کلاس‌های دوره ازین فرم استفاده کنید."
- var STR_courseEditClassHeader = "برای ویرایش کلاس‌های دوره ازین فرم استفاده کنید."
- var STR_session = "جلسه"
- var STR_classDate = "تاریخ کلاس"
- var STR_classHour = "ساعت کلاس"
- var STR_classParticipants = "دانش‌آموزان کلاس"
- var STR_classNotes = "ملاحضات کلاس"
- var STR_participantsHint = "دانش‌آموزان را با ویرگول جدا کنید. نام کاربری آن‌ها را وارد کنید."
- var STR_students = "دانش‌آموزان"
- var STR_notes = "ملاحظات"
- var STR_connectURL = "لینک مجازی کلاس"

//profile stuff goes here
- var STR_profileHeader = "پروفایل کاربر"
- var STR_makeStudent = "ایجاد دانش‌آموز"
- var STR_makeTeacher = "ایجاد معلم"
- var STR_infoTitle = "اطلاعات کاربری"
- var STR_teacherTitle = "اطلاعات معلمی"
- var STR_studentTitle = "اطلاعات دانش‌آموزی"


//general stuff goes here
- var STR_sendInfo = "ارسال اطلاعات"
- var STR_editInfo = "ویرایش اطلاعات"
- var STR_addTeacherFavorite = "اضافه کردن به علاقه‌مندی‌ها"
- var STR_addTeacherEngaged = "اضافه کردن به لیست معلم‌ها"
- var STR_youLoggedOut = "شما خارج شدید."
- var STR_returnToHome = "بازگشت به خانه"
- var STR_fillFurther = "حال، لطفا اطلاعات دانش آموزی یا معلمی را پر کنید."
- var STR_fillInfo = "لطفا ابتدا اطلاعات کاربری را ارسال کنید."
- var redirectHeader = "کاربر ساخته شد. هم‌اکنون به پروفایل منتقل می‌شوید."


- var STR_ok = "قبول"
- var STR_cancel = "لغو"
- var STR_delete = "پاک کردن"

- var STR_editSchoolHeader = "ازین فرم برای ویرایش اطلاعات مدرسه استفاده کنید."
- var STR_schoolName = "نام مدرسه"
- var STR_schoolGrade = "مقطع مدرسه"
- var STR_schoolLandline = "خط ثابت"
- var STR_schoolAddress = "آدرس مدرسه"
- var STR_landlineInvalid = "خط ثابت مدرسه باید فقط رقم باشد."

- var STR_teacherCatHeader = "ازین صفحه برای مشاهده‌ی معلم‌‌های مدرسه‌ی خود استفاده کنید."
- var STR_courseCatHeader = "ازین صفحه برای مشاهده‌ی دوره‌های مدرسه‌ی خود استفاده کنید."
- var STR_studentCatHeader = "ازین صفحه برای مشاهده‌ی هم‌مدرسه‌ای‌های خود استفاده کنید."

- var STR_toStudentProfile = "پروفایل دانش‌آموز"
- var STR_toTeacherProfile = "پروفایل معلم"
- var STR_toCoursePage = "صفحه‌ی دوره"

- var STR_toman = "ریال"

- var STR_registerSchoolHeader = "ازین فرم برای ثبت نام مدرسه استفاده کنید."

- var STR_schoolInfoTitle = "اطلاعات مدرسه"
- var STR_profileSchoolHeader = "پروفایل مدرسه"
- var STR_loginSchoolHeader = "برای ورود به سیستم مدرسه ازین فرم استفاده کنید."

- var STR_addCourse = "اضافه کردن دوره"

- var STR_noCourse = "مدرسه دوره‌ای ندارد."
- var STR_noStudent = "مدرسه دانش‌آموزی ندارد."
- var STR_noTeacher = "مدرسه معلمی ندارد."
- var STR_coursePageHeader = "برای مشاهده‌ی اطلاعات دوره از این صفحه استفاده کنید."
- var STR_loading = "در حال بارگذاری"
- var STR_close = "بستن"
- var STR_view = "مشاهده"
- var STR_ourSchools = "مدارس ما"